<!DOCTYPE html>
<html>
    <head>
        <title>Socket.IO chat</title>
    </head>
    <body>
        <button id="connectButton">Connect to server</button>
        <p id="socketStatus"></p>
        <form id="form" action="">
            <input id="input" autocomplete="off" /><button>Send</button>
        </form>
        <div id="react-container"></div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socketHandler.js"></script>
</html>
